{% extends 'base.html' %}

{% block content %}
<h3>회원가입</h3>
<form method="POST">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <div>
        <label>사용자 이름</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label>비밀번호</label>
        <input type="text" name="password1" id="password1">
    </div>
     <div>
        <label>비밀번호 확인</label>
        <input type="text" name="password2" id="password2">
    </div>
     <div>
        <label>이메일</label>
        <input type="text" name="email" id="email">
    </div>
    <button type="submit">생성하기</button>
</form>
{% endblock %}